<!DOCTYPE html>
<html>
<head>
    <title>Session Login</title>
</head>
<body>
    <form method="POST" action="/login">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Connexion</button>
    </form>

    <p>Pas de compte ? Créez en un :</p>
    <a href="/signup" class="btn btn-primary mt-3"><p>Création de compte</p></a>
</body>
</html>
