{{ define "content" }}
<h2>Edit Customer</h2>
<form action="/customer/update" method="post">
    <input type="hidden" name="id_customer" value="{{ .Customer.IDCustomer }}">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="first_name" value="{{ .Customer.FirstName }}" required>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="last_name" value="{{ .Customer.LastName }}" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="{{ .Customer.Email }}" required>
    </div>
    <!-- Vous pouvez choisir de ne pas inclure le champ de mot de passe si la mise à jour du mot de passe se fait séparément -->
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{{ end }}
