{{ define "content" }}
<h1>Bonjour {{ .FirstName }} {{ .LastName }} !</h1>
<h2>Modification des informations</h2>
<form action="/customer/edit/{{ .IDCustomer }}" method="post">

    <div class="form-group">
        <label for="firstName">Prénom :</label>
        <input type="text" class="form-control" id="firstName" name="FirstName" value="{{ .FirstName }}" required><br>
    </div>

    <div class="form-group">
        <label for="lastName">Nom :</label>
        <input type="text" class="form-control" id="lastName" name="LastName" value="{{ .LastName }}" required><br>
    </div>

    <div class="form-group">
        <label for="email">Adresse mail :</label>
        <input type="email" class="form-control" id="email" name="Email" value="{{ .Email }}" required><br>
    </div>

    <div class="form-group">
        <label for="password">Mot de passe :</label>
        <input type="password" class="form-control" id="password" name="Password" value="{{ .Password }}"><br>
    </div>
    <input type="submit" class="btn btn-warning" value="Sauvegarder mes modifications">
</form>
{{ end }}